In [1]:
import pandas as pd

In [2]:
college_data = pd.read_csv("salaries_by_college_major.csv")
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
college_data.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

How many rows does our dataframe have? How many columns does it have?

In [4]:
len(college_data)

51

In [5]:
len(college_data.columns)

6

In [6]:
college_data.shape

(51, 6)

What are the labels for the columns? Do the columns have names?

In [7]:
college_data.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

Are there any missing values in our dataframe? Does our dataframe contain any bad data?

In [8]:
college_data.isna().sum()

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [9]:
clean_data = college_data.dropna()
clean_data.shape

(50, 6)

College Major with Highest Starting Salaries

In [10]:
highest_starting_salary = clean_data.loc[clean_data["Starting Median Salary"].idxmax()]
print(highest_starting_salary["Undergraduate Major"])

Physician Assistant

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [11]:
highest_mid_career_salary = clean_data.loc[clean_data["Mid-Career Median Salary"].idxmax()]
major = highest_mid_career_salary["Undergraduate Major"]
salary = highest_mid_career_salary["Mid-Career Median Salary"]
print(f"Major: {major}, Salary: {salary}")

Major: Chemical Engineering, Salary: 107000.0

Which college major has the lowest starting salary and how much do graduates earn after university?

In [12]:
lowest_starting_salary = clean_data.loc[clean_data["Starting Median Salary"].idxmin()]
major = lowest_starting_salary["Undergraduate Major"]
starting_salary = lowest_starting_salary["Starting Median Salary"]
print(f"Major: {major}, Starting Salary: {starting_salary}")

Major: Spanish, Starting Salary: 34000.0

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [13]:
lowest_mid_career_salary = clean_data.loc[clean_data["Mid-Career Median Salary"].idxmin()]
major = lowest_mid_career_salary["Undergraduate Major"]
min_salary = lowest_mid_career_salary["Mid-Career 10th Percentile Salary"]
max_salary = lowest_mid_career_salary["Mid-Career 90th Percentile Salary"]
print(f"Major: {major}, Salary Range: {min_salary} to {max_salary}")

Major: Education, Salary Range: 29300.0 to 102000.0

Lowest Risk Majors

In [14]:
clean_data["Salary Range Difference"] = clean_data["Mid-Career 90th Percentile Salary"] - clean_data["Mid-Career 10th Percentile Salary"]
clean_data.head()

/var/folders/_6/dvzl7bvj0p11fqcttz084f880000gp/T/ipykernel_24325/323457865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data["Salary Range Difference"] = clean_data["Mid-Career 90th Percentile Salary"] - clean_data["Mid-Career 10th Percentile Salary"]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,Salary Range Difference
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business,"109,800.00"
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM,"96,700.00"
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business,"113,700.00"
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS,"104,200.00"
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business,"85,400.00"

Find the top 5 degrees with the highest potential.
Also, find the degrees with the greatest spread in salaries.

In [15]:
highest_potential = clean_data.sort_values("Mid-Career 90th Percentile Salary", ascending=False)
highest_potential[["Undergraduate Major", "Mid-Career 90th Percentile Salary"]].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                         210,000.00
22               Finance                         195,000.00
8   Chemical Engineering                         194,000.00
37                  Math                         183,000.00
44               Physics                         178,000.00

In [16]:
greatest_spread = clean_data.sort_values("Salary Range Difference", ascending=False)
greatest_spread[["Undergraduate Major", "Salary Range Difference"]].head()

   Undergraduate Major  Salary Range Difference
17           Economics               159,400.00
22             Finance               147,800.00
37                Math               137,800.00
36           Marketing               132,900.00
42          Philosophy               132,500.00

For example, which category of degrees has the highest average salary? Is it STEM, Business or HASS (Humanities, Arts, and Social Science)?

In [20]:
clean_data.groupby("Group").count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Salary Range Difference
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [21]:
to_group = clean_data.drop(columns=["Undergraduate Major"])
to_group.groupby("Group").mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Salary Range Difference
Group,,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00","103,958.33"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64","95,218.18"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00","101,600.00"

In [22]:
highest_avg_salary = to_group.groupby("Group").mean()